<h4>edit_comments!</h4>
<%= flash[:alert] %>
<%= form_with url: "/posts/#{ @comment.post_id }/comments/#{ @comment.id }", method: :put do |form| %>
  <%= form.text_field :body  %>
  <%= form.submit %>
<% end %>
